<ons-page ng-controller="slideCtrl">
    <div class="slideView">
                <ons-carousel ns-postchange="console.log('Changed to ' + $event.activeIndex)"
                                      style="height: 100%; width: 100%"
                                      swipeable
                                      auto-scroll overscrollable auto-refresh>                            
                    <ons-carousel-item id="$index" ng-repeat="slide in slideImages track by $index">
                                <div class="sliderow">
									<img class="slideImage" ng-src="{{slide.image}}"/>
                                </div>
		                        <div class="backButton" ng-if="$index==71">
								    <img height="100px" src="img/back.png" ng-click="back();"/>
								</div>
                    </ons-carousel-item>
                </ons-carousel>
	</div>  
</ons-page>