<ons-page ng-controller="homeCtrl">
	    <div class="storyContent">
		    <div class="backButton"><img height="100px" src="img/back.png" ng-click="back();"/></div>
		    <div class="story">
			    <span class="storyText">Eruma...when we first met I didn't have even a slightest idea about how close we will eventually be. This was not love at first sight. I never once had a crush on you. Unna la sight adichadhu kuda illa :P.

Initially after the wild tribe and mid sea trip only both of us started interacting more. Slowly our chats and questioning made us to be comfortable with each other. Even when I was in bangalore, it didn't feel as if we were missing each other. We had so much of texts and calls daily. Apo la enaku un mela suthama love nu thoughts eh varala. You were however becoming an integral part of my inner circle. 

You were playful yet mature; you cared for everyone around you; family values; well wisher for me; encourages to do what I think is right (valparai trip oru example). This was my thoughts about you till that time. Nothing more. I just wanted you to be a good caring and close friend to share all my stuff. Friendship ku mela indha world la enna iruku.

Once in bangalore, someone told something very bad about you and enake theriyama kovam vandhuruchu eruma. Namma friend a oruthan thappa pesuna apdi thane irukum. Oru girl nalla intentions oda chinna kolandha mathiri elar kitayum open a pesunalum some perverts will always be there nu thonuchi. 

Irony is after coming back to chennai I started feeling some distance with you. In spite of that long distance bangalore la irundhapo Namma romba close a irundha mari feel pannen. Un pakathula ye irundhalum unna miss panra mari oru feeling. Chellakutty, unnoda views about life, family, your goals, your likes, dislikes elame I liked. We had a lot of similar views. That is why I was attracted to you nu I thought at first. 

Ne yaarayum ivlo sikiram trust panni elame share panni iruka maata including your family issues. Andha trust a I should not break. Unaku epavume oru support a na irukanum nu I was sure.  Idhu just attraction tha. I should avoid such thoughts nu I forced myself so much. I asked vidhya how to avoid you. Ava Kita I told what i felt. She told go ahead enakum thonuchu da nu. Eruma maadu ava. The more I thought about avoiding you, the more I fell in love with you. </span>
			</div> 
		</div> 
</ons-page>