<ons-page>
	    <div class="storyContent">
		    <div class="story">
			    <span class="storyText">"Every time I see u I fall in love all over again""

 "Nothing is fine, but when I’m with you everything is fine."

"If u are not interested then don't cheat him.. Better leave him."

Love is like a rubber band, when both can stretch ,and then one can release then it can heart the other!

"Better to be alone than being with some1 who makes u feel alone."

"Can I borrow a Kiss? I promise I'll give it back. "

"Love me 4 a second and I'll love you forever. "

Ki Hoya Je Tere Nal Larda Ha !! Pyaar V Ta Kamliye Tnu Hi Krda Ha! 

"The person who makes u happiest is the person who can hurt you the most."

Did YOU know i really love the 2nd word of this question? 

"When I'm sad don't look at me - just kiss me ""

"I want to run away with you. Where there is only you and me. "

 "I fell in love with u, I don't know why or how. I just did."

No matter how "busy" a person is...if they really love, they will always find the time for you.!
In Early Morning When i Awake Up i want to see U In front of my Eyes.. 

Love is like a Air ..We can't see it but! we can feel it..

Love is that which ,cannot see the poorness...

Why am I so afraid to lose u when i know you're not even mine? 

Love in Life ,Make the life beautiful..

"Love is That Which can not see the Religious, Caste, Rich, Poor..in life.."

In life I need only you!
</p>
			</div> 
		</div> 
</ons-page>