<ons-page ng-controller="welcomeCtrl">
<div class="welcomeDiv">
    <div class="beforeTimer" ng-if="showTimer">
		<div class="timerDiv">
		    <img src="img/giftss.gif" class="imageCenter"/>	
			<div ng-show="hitTimer" class="hitTimer"><span class="timerText"> {{minutes}} minutes {{seconds}} seconds to go</span></div>
		</div>
	</div>
	<div class="afterTimer" ng-show="showButton">
        <div class="welcomePage">
		    <img class="welcomeButton" src="img/marios.gif" ng-click="welcomeTo();"></img>
	    </div>
	</div>
	<ons-dialog var="wishingPopup">
	    <div class="dialogPopup">
			<img src="img/image4s.gif" class="popupImage" />
		</div>	
	</ons-dialog>
	<ons-dialog var="buttonPopup">
	    <div class="dialogPopup">
			<input type="text" ng-model="passwordText"/>
			<input type="button" class="buttonToGo" value="Go" ng-click="go();"/>
		</div>	
	</ons-dialog>
</div>	
</ons-page>