<ons-page ng-controller="welcomeCtrl">
<div class="welcomeDiv">
    <div class="beforeTimer" ng-if="showTimer">
		<div class="timerDiv">
		    <img src="img/home-button.jpg" class="imageCenter">	
			<p ng-show="hitTimer"> {{seconds}}</p>
		</div>
	</div>
	<div class="afterTimer" ng-show="showButton">
        <div class="welcomePage">
		    <img class="welcomeButton" src="img/gift.gif" ng-click="welcomeTo();"></img>
	    </div>
	</div>
	<ons-dialog var="wishingPopup">
	    <div class="dialogPopup">
			<img src="img/gift.gif" class="popupImage" />
		</div>	
	</ons-dialog>
</div>	
</ons-page>